.info{
    @include grillas;
    grid-template-rows: 30% 30% auto ;
    grid-template-areas: 
    "sobre sobre redes"
    "preg preg redes"
    "medida medida medida";
    .infoSN , .infoMA, .infoPF, .infoRS{
        font-size: large;
        background-color:$bgPages;
        text-align: center;
        border-radius: 5px;
        }
        .infoSN{
            grid-area: sobre;
        }
        
        .infoPF{
            grid-area: preg;
        
        }
        .infoRS{
        grid-area: redes;
        }
        .infoMA{
            grid-area: medida;
        }
}

.preguntas{
    text-align: center;
    background-color: $bgPages;

    h2{
    font-weight: 700;
    color: rgba(0, 0, 0, 0.932);
    text-decoration: underline;
    }

    .irA{
        @extend .botones;
        background-color: $bgPages2;
        color: white;
        &:hover{
            color: rgb(248, 73, 108);
            background-color: white;
        }
        
    }
}



.medidas{
    font-size: larger;
    width: 100%;
    text-align: center;
    padding: 70px 0px;
    background-image: url("../img/fondoP.webp");
    font-weight: 500;
    p{
        margin: 30px auto;
    }
    .tablas {
        background-color:$bgPages;
        padding: 50px;
            td{
                padding: 20px;
            }
            h2{
                font-weight: 700;
            }
        }
}

.about{
    margin: 50px auto;
    background-image: url("../img/sobre1.webp");
    padding: 50px;
    
    .aboutUs{
        text-align: center;
        font-size: large;
        background-color: rgba(0, 0, 0, 0.699);
        color: white;
        padding: 40px;
    }
}

