
@media (max-width : 1024px) {
    header{ 
        justify-content: center;
        .buscador{
        display: none;}
        nav{
            margin-left: 20px;
        }
    }

    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 5px;
        .item{
            margin:15px;
        }
    }

    .medidas{
        padding: 30px 0px;

        .tablas tr{
            display: inline-block;
            padding: 5px;
            td{
                padding: 0px;
                display: block;
            }
        }
    }

    .contacto{
        padding: 15px;
        width: 100%;
    }

    .about{
        padding: 30px 5px;
        
        .aboutUs{
            padding: 20px;
        }
    }


    footer{
        padding: 10px;
        div{
            margin: 20px;
        
        i{
        margin-left: 5px;
        }
    }

}

}


@media ( max-width: 750px){
    header{
        width: 100%;
        height: 100px;
        .logo {
            width: 70px;
            margin-left: 5px;
            }
        .icon{
            display: flex;
            opacity: 1;
            cursor: pointer;
            margin-right: 10px;
            }
        .menu{
            display: flex;
            flex-direction: column;
            position: fixed;
            width: 100%;
            height: 0px;
            top: 100px;
            opacity: 0;
            visibility: hidden;
            background-color: rgba(255, 255, 255, 0.925);
            transition: all 0.5s;
            li{    
                display: block;
                line-height: 15px ;
                margin:10px 0px;
                transition: all 0.5s;
                }
            .submenu{
                display: none;
                }
            } 
        
        #check:checked ~ .menu{
            opacity: 1;
            height: 100%;
            visibility: visible;
            }   
    }
    
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 30px;
        .item{
            margin:40px auto;
        }
    }

.contacto{
    font-size: medium;
    padding: 5px;
    width: 100%;
}


    footer{
        padding: 0;
        .boxFooter div{
                margin: 10px;
                p{
                font-size:  12px;
                }
            
                i{
                font-size: 15px;
                margin-left: 2px;
                }
            }
        }
}